@import dtos.ViewDto.ViewDto
@(viewDto: ViewDto)(implicit req: RequestHeader)

@layout(viewDto) {
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="account-setting-box">
            <div class="row">
              <div class="col-sm-9">
                <h2>Account Setting</h2>
                <form>
                  <div class="blank-arrow">
                    <label>Email Address</label>
                  </div>
                  <span>*</span>
                  <input type="email" placeholder="your email address...">
                  <div class="blank-arrow">
                    <label>Web Site</label>
                  </div>
                  <input type="text" placeholder="current city...">
                  <div class="blank-arrow">
                    <label>Keywords with comma (ex: hoge, fuga)</label>
                  </div>
                  <input type="text" placeholder="ex: hoge, fuga">
                  @if(viewDto.account.exists(_.user.exists(_.instagramAccessToken.nonEmpty))){
                    <a class="btn btn-info" href="@routes.InstagramC.remove().url"><i class="fa fa-instagram"></i> Remove Instagram</a><br>
                  }else{
                    <a class="btn btn-default" href="@viewDto.instagramAuthUrl.getOrElse("")"><i class="fa fa-instagram"></i> Connect with Instagram</a><br>
                  }
                  <a class="btn btn-primary" href="">Save</a><br>
                </form>
                @helper.form(routes.MyPageC.delete()){
                  @helper.CSRF.formField
                  <button type="submit" class="btn btn-danger" href="" style="margin-top: 10px;">Delete</button>
                }
              </div>
            </div>
          </div><!--/account setting box-->
        </div>
      </div>
    </div>
  </section>
}
