@import dtos.ViewDto.ViewDto
@import views.html.common.error
@(viewDto: ViewDto)(implicit req: RequestHeader, messages: MessagesApi)
@loginFrm = @{viewDto.loginForm.get}
@verifyFrm = @{viewDto.verifyMailForm.get}
@layout(viewDto) {
  <section id="form"><!--form-->
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
          <div class="login-form"><!--login form-->
            <h2>Login to your account</h2>
            @if(loginFrm.hasErrors){
              <p class="form-err"><small><i class="fa fa-exclamation-triangle"></i>
                @messages("error.invalid.emailorpassword")
              </small></p>
            }
            @helper.form(action = routes.LoginC.confirm()) {
              @helper.CSRF.formField
              <input type="email" name="email" placeholder="Email Address" />
              <input type="password" name="password" placeholder="Password"/>
              <span>
                <input type="checkbox" class="checkbox">
                Keep me signed in
              </span>
              <button type="submit" class="btn btn-default">Login</button>
            }
            <hr>
            <a href="@viewDto.instagramAuthUrl.getOrElse("")" class="btn btn-default"><i class="fa fa-instagram"></i> Login with Instagram</a>
          </div><!--/login form-->
        </div>
        <div class="col-sm-1">
          <h2 class="or">OR</h2>
        </div>
        <div class="col-sm-4">
          <div class="signup-form"><!--sign up form-->
            <h2>New User Signup!</h2>
            @error(verifyFrm("globalError"))
            @helper.form(action = routes.SignUpC.index()) {
              @helper.CSRF.formField
              <input type="email" name="email" placeholder="Email Address"/>
              <input type="password" name="password" placeholder="Password"/>
              <button type="submit" class="btn btn-default">Signup</button>
            }
          </div><!--/sign up form-->
        </div>
      </div>
    </div>
  </section><!--/form-->
}
