@import dtos.ViewDto.ViewDto
@import models.Entities.SplashEntity
@import models.Tables.SplashPostRow
@import constants.Constants.SplashType
@import constants.Constants.fileName
@(viewDto: ViewDto)(implicit req: RequestHeader)

@splashPosts = @{
  viewDto.pageEntity.flatMap(x => x.asInstanceOf[SplashEntity].splashPosts).getOrElse(Seq.empty[SplashPostRow])
}

@layout(viewDto) {
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="account-setting-box">
            <div class="row">
              <div class="col-sm-9">
                <h2>Splash Posts</h2>
                @helper.form(routes.FacebookC.post(), 'enctype -> "multipart/form-data", 'method -> "POST") {
                  @helper.CSRF.formField
                  <div class="blank-arrow">
                    <label>Facebook Message</label>
                  </div>
                  <div>
                    <textarea name="message" cols="30" rows="10"></textarea>
                  </div>
                  <br>
                  <input type="file" name="@fileName" />
                  <br>
                  <p>Splash Type</p>
                  @for(splashType <- SplashType.getValues) {
                    <input type="radio" name="splashType" value="@splashType.value" style="width: initial;" @if(splashType.equals(SplashType.Short)){checked="checked"}> @splashType.label
                  }
                  <br>
                  <button type="submit" class="btn btn-primary">Save</button>
                  <br>
                }
                <h2 style="margin-top: 40px;">Your splash posts</h2>
                <table class="table">
                  <thead>
                    <tr>
                      <th>message</th>
                      <th>link</th>
                      <th>post time</th>
                      <th>splash time</th>
                    </tr>
                  </thead>
                  <tbody>
                  @for(post <- splashPosts) {
                    <tr>
                      <td>@post.message</td>
                      <td><a href="@post.link" target="_blank">Post Link</a></td>
                      <td>@post.postDatetime</td>
                      <td>@post.splashDatetime</td>
                    </tr>
                  }
                  </tbody>
                </table>
              </div>
            </div>
          </div><!--/account setting box-->
        </div>
      </div>
    </div>
  </section>
}
